<h1>Вуаля</h1>
<p>Ваше сообщение : {{message}}</p>
<p>Ваш ключ : {{key}}</p>
<p>Выбранный Алгоритм : {{cryptoAlgoritm}}</p>
<p>Зашифрованное сообщение без ключа : {{cryptoMessageWithoutKey}}</p>
<p>Зашифрованное сообщение с ключем : {{cryptoMessageWithKey}}</p>
<p>Забираем ключ у зашифрованного сообщение {{messageWithKey}}</p>
<p>Расшифровываем {{decrypt}}</p>